body{
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
section {
    display: flex;
    place-items: center;
    align-content: center;
    min-height: 100vh;

  }

  .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-80%);
    transition: all 1s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: 1s;
  }

  .text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  .text-layout{
    margin: 4rem;
    align-items: left;
    box-sizing: border-box;
    transition-delay: 800ms;
  }
  .standard-image{
    max-width: 25%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
    transition: all 0.2s ease-in-out;
    margin: 4rem;
  }

  .standard-image:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #aaa;
  }

  h1{
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .logos{
    display: flex;
    margin: 4rem;
  }
  .delay:nth-child(1){
    z-index: 100;
  }
  .delay:nth-child(2){
    transition-delay: 50ms;
    z-index: 99;
  }
  .delay:nth-child(3){
    transition-delay: 100ms;
    z-index: 98;
  }
  .delay:nth-child(4){
    transition-delay: 600ms;
  }

  .logo{
    background-color: red;
  }



